@media (max-width: 767px) {
    .nav-toggle {
        display: block;
        float: right;
        width: 2em;
        margin-right: 50px;
        font-size: 1.5rem;
        line-height: 2em;
        text-align: center;
        cursor: pointer;
    }

    .logo img {
        width: 200px;
    }

    .nav {
        color: $darkcolor;
    }


    .nav a {
        color: $lightcolor;
    }

    .site-header {
        display: flex;
        justify-content: space-between;
        margin-left: -20%;
    }

    .title {
        margin-left: -20%;
    }

    .logo {
        margin-top: 0 !important;
    }

}