.grid-reports {
    display: grid;
}

.wrapper-reports {
    max-width: 1000px;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.box-color {
    grid-column: 1 / 2;
    grid-row: 2;
    border: 2px solid $darkcolor;
    margin: 5px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    background-color: $lightcolor;

    &:hover {
        background-color: $darkcolor;
        color: $lightcolor;
    }
}

.box-load {
    grid-column: 2 / 3;
    grid-row: 2;
    border: 2px solid $darkcolor;
    margin: 5px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    background-color: $lightcolor;

    &:hover {
        background-color: $darkcolor;
        color: $lightcolor;
    }
}

.box-design {
    grid-column: 3 / 4;
    grid-row: 2;
    border: 2px solid $darkcolor;
    margin: 5px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    background-color: $lightcolor;

    &:hover {
        background-color: $darkcolor;
        color: $lightcolor;
    }
}