{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

<main>
    <div class="mainbox" role="main">
        {{ content }}
    </div>
        {% if meta.Image is defined %}
            <div class="mainbox">
                <img src="{{ meta.Image }}" alt="Index Image">
            </div>
        {% endif %}
</main>
    
    {% include 'incl/footer.twig' %}
</body>

</html>