<!DOCTYPE html>
<html lang="sv">
{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <main>
        <div class="main" role="main">
            <div class="landingpage">
                {{ content }}
            </div>
        </div>
    </main>
    
    {% include 'incl/footer.twig' %}
</body>

</html>